

*, :before, :after {
    box-sizing: border-box;
    font-size: 16px;
}

* {
    font-family: "Roboto Mono", monospace;
    font-style: normal;
    margin: 0;
}

/* @media (max-width: 620px) {
    * {
        font-size: 12px;
    }
} */
a {
    text-decoration: none;
    color: black;
}

 
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header {
    text-transform: uppercase;
}

header h1 {
    font-weight: 700;
    font-size: 3rem;
}

main {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;

}

nav {
    box-sizing: content-box;
    background-color: white;
    margin-right: 4rem;
    width: 8rem;
    height: 90%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: flex-start;
    
}


nav #current-color{
    height: 6.25rem;
    width: 6.25rem;
    border-radius: 50%; 
    border: 6px solid #0000001a;
}

#color-picker {
    width: 9rem;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 2px 0px 0px #000;
    
}


button {
   
    width: 9rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 0px 2px 0px 0px #000;
    background-color: white;
    cursor: pointer;
    transition: transform 300ms;
}

button:hover{
    transform: scale(1.05);
    
}






#drawing-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   
}


#drawing-board {
    box-sizing: content-box;
    background-color: #eee;
    height: 31.25rem;
    width: 31.25rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem 0;
}

#drawing-board div {
    /* height: 100%;
    width: 100%; */
    border: 0.5px solid rgba(0, 0, 0, 0.10);
}

#auto-draw {
    align-self: flex-start;
    width:4.5rem;
    height: 1.5rem;
    box-shadow: none;
    font-size: 0.8rem;
    margin-top: 0;
    background-color: #000;
    color: white;
}

main div p {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

#grid-size-number {
    font-size: 1.5rem;
}

input[type='range']{
    -webkit-appearance: none;
    background: black;
    cursor: pointer;
    width: 16rem;
    height: 0.3rem;
    border: 1px solid black;
    border-radius: 1rem;
    
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #ffffff;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.1rem solid black;
}








